<h1>Post#show</h1>

<div class="container">
   <div class="row">
      <div class="col">
        <%= link_to post_new_path(current_user.id) do %>postnew
        <% end %>
      </div>
      <div class="col">
        <%= link_to post_index_path(current_user.id) do %>postindex
        <% end %>
       </div>
       <div class="col"><%= link_to post_path(current_user.id) do %>postshow
        <% end %>
       </div>
  </div>
    <div class="row">
      <div class="col">
        <%= link_to comments_index_path(current_user.id) do %>commentsindex
        <% end %>
      </div>
      <div class="col">
        <%= link_to comments_show_path(current_user.id) do %>commentsshow
        <% end %>
      </div>
      <div class="col">
        <%= link_to favorites_index_path(current_user.id) do %>favoritesindex
        <% end %>
      </div>
      <div class="col">
        <%= link_to favorites_show_path(current_user.id) do %>favoritesshow
        <% end %>
      </div>
    </div>
  </div>


   <div class="container">
    <div class="row justify-content-center">
     <h2>見出し</h2>
    </div>
   </div>
   <div class="row justify-content-center">
   <table class="table col-8">
      <thead>
          <tr>
             <th>タイトル</th>
             <th>内容</th>
             <th>画像</th>
             <th></th>
          </tr>
      </thead>
      <tbody>
         <% @post.each do |post| %>
       <tr>
         <td><%= post.title %></td>
         <td><%= post.body %></td>
         <% if post.image.attached? %>
          <td><%= image_tag post.image, size: "150x150" %></td>
         <%else%>
          <td><img src="http://placehold.jp/150x150"></td>
          <td colspan="3"></td>
          <td class="btn btn-sm btn-danger ">
          <%= link_to "Destroy", destroy_post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
         <%end%>
       </tr>
        <% end %>
      </tbody>
   </table>
   </div>




